@model AdgisticsShoppingKart.Models.ItemsAndCartViewModel

@{
    ViewBag.Title = "Home Page";
}

<div>
    <div class="container">
        <div class="row">
            <div class="jumbotron col-md-7">
                <h2>Items</h2>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Value</th>
                            <th>Promotion</th>
                            <th>Add to cart</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.Value</td>
                                @if (item.OfferView != null)
                                {
                                    <td>@(item.OfferView.Quantity + " for " + item.OfferView.Value)</td>
                                }
                                else
                                {
                                    <td>None</td>
                                }
                                @Html.HiddenFor(m => item.Id)
                                <td>
                                    <input id="addItem_@item.Name" type="number" min="0" step="1" class="input-sm" />
                                    <button name="addItem" value="@item.Name" type="button" class="btn btn-sm btn-success">+</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="jumbotron col-md-4 col-md-offset-1">
                <h3>🛒Shopping Cart</h3>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Value</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>3</td>
                            <td>A</td>
                            <td>13.00</td>
                            <td>
                                <button name="removeItem" value="" type="button" class="btn btn-sm btn-danger">-</button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>TOTAL</td>
                            <td>100</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $("button[name='addItem']").click(function() {
            var name = $(this).val();
            var quantity = $("#addItem_" + name).val();

            if (quantity > 0) {
                $.ajax({
                    url: '@Url.Action("AddItem", "Home")',
                    data: { name: name, quantity: quantity },
                    success: function (result) {
                        
                    }});
            }
        });

        $("button[name='removeItem']").click(function () {
            console.log("Removing item: " + $(this).val());
            var name = $(this).val();

                $.ajax({
                    url: '@Url.Action("RemoveItem", "Home")',
                    data: { name: name },
                    success: function (result) {
                        
                }});
        });
    });
</script>